.main{
    background: rgb(255, 187, 0)
}
.header-1{
    font-weight: normal;
    color:black;
}
.header-2{
    font-style: italic;
    color:darkgoldenrod;
}
.div{
    height: 200px;
    background: white;
    text-align:center;

}
.p{
    font-weight: bold;
    font-size: 17px;
    color: red
}
.ol,.ul {
    border: solid 1px darkslategray;
}

body{
    color: darkblue;
}